<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel=stylesheet href="/static/style.css">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="infodiv" id="info">
        <table>
            <tr>
                <th>{% block name_of_search %}{% endblock %}</th>
            </tr>
            {% block form %}{% endblock %}
            <tr>
                <td style="padding: 0;"><form action="/assortment"><input type="submit" value="Вернуться в меню выбора запросов"></form></td>
            </tr>
        </table>
    </div>
    {% if message %}
    <div class="errordiv" id="error">
        {{ message }}
    </div>
    {% endif %}
    <br>
    {% if result %}
    <div class="infodiv">
        {% block result_data %}
        {% endblock %}
    </div>
    {% endif %}
    <script>
        const infodiv = document.querySelector('#info');
        const errordiv = document.querySelector('#error');
        errordiv.style.width = getComputedStyle(infodiv).width;
    </script>
</body>
</html>