body {
    background-color: #CAF59D;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    max-width: 800px;
    margin: auto;
    text-align: center; /* Выравнивание текста по центру */
}

a {
    text-decoration: none;
    font-size: 24px;
    color: #3498db;
    transition: color 0.3s;
}

a:hover {
    color: #2980b9;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

ul>li {
    margin-top: 8px;
}

header {
    display: flex;
    height: 96px;
    background-color: #f0ebd8;
    align-items: center;
    justify-content: center;
    font-size: 48px;
    color: #1d2d44;
}

header>img {
    height: 90%;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
}

main>img {
    height: 192px;
    border: 2px solid #3498db;
    border-radius: 50%;
}

.search_form {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 24px;
    width: 480px;
}

.input_form {
    display: flex;
    margin: 10px;
    justify-content: space-between;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form>input {
    height: 2em;
    margin-top: 8px;
    padding: 8px;
}

.button {
    height: 2em;
    margin-top: 8px;
    width: 192px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #2980b9;
}

main>h1 {
    margin-top: 16px;
    font-size: 36px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    border: 1px solid #ccc;
    background-color: #fff;
}

th {
    background-color: #3498db;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    border: 1px solid #3498db;
    text-align: center;
}

td {
    padding: 10px;
    border: 1px solid #ccc;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #e0e0e0;
}
